.removeBtn:hover {
background-color: red;
border-radius: 80px;
color: white !important;
}
.steeringWheel{
    margin-left: 35px;
    margin-bottom: 30px;
}

.seatPriceSection{
    margin-top: 100px;
    border: 1px solid black
}

.boardingDroppingScroll{
        height: 200px;
        overflow: scroll;
}

.fRight{
    float:right
}

.w100{
    width: 100%;
}

.dot{
    width: 10px;
  height: 10px;
}

  /* accounts form login registration css */
  .form-account .card {
    min-width: 450px;
}
.form-account .card form {
    margin-top: 2rem;
}
.form-account .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-account .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-account .card {
        width: 100%;
        min-width: 0;
    }
}

.manageBookingFilter{
margin-left: 80px;
margin-top: 8px;
}

.availableBusButton{
    float: right;
    margin-top: -49px !important; 
    margin-right: 2px !important;
    text-decoration:none
}